@{
    ViewBag.Title = "Home Page";
}
<p>
    <ul style="font-size:2em">
        <li>@Html.ActionLink("Zen", "Zen", "Home")</li>
        <li>@Html.ActionLink("Big File", "BigFile", "Home")</li>
        <li>@Html.ActionLink("Cancellation", "Index", "Cancellation")</li>
        <li>@Html.ActionLink("Deadlock", "Index", "Deadlock")</li>
        <li>@Html.ActionLink("SynchronizationContext", "Contexts", "Home")</li>
    </ul>
</p>